.card {
    width: 150;
    height: 100px;
    background: lightcoral;
    /* transition: background 0.1s; */
    transition: all 1s;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    font-size: 50px;
}
.card:hover {
    background: red; 
    transform: translateY(-50px);
    transform: scale(1.5);
}