<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="flex.css">
</head>
<body>
    <section class="flex-container">
        <article>Artikel 1</article>
        <article>Artikel 2</article>
        <article>Artikel 3</article>
        <article>Artikel 4</article>
        <article>Artikel 5</article>
        <article>Artikel 6</article>
        <article>Artikel 7</article>
        <article>Artikel 8</article>
        <article>artikel 9</article>
        <article>artikel 10</article>
    </section>
    
</body>
</html>