.grid-container {
    background-color: rgb(12, 189, 238);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}
section, header, nav, main, aside, footer {
    background-color: yellow;
    padding: 50px;
}
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 2fr;
    }
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
