.box {
    width: 80px;
    height: 80px;
    background: blue;
    animation: jalan 2s infinite alternate;
}
@keyframes jalan {
    from {transform: translateX(0px,0);}
    to {transform: translate(800px,800px);}
}
.de {
    width: 80px;
    height: 80px;
    background: red;
    animation: denyut 1s infinite alternate ;
}
@keyframes denyut {
    from {transform: scale(0.1);}
    to {transform: scale(1);}
    
}
.spinner {
    width: 600px;
    height: 600px;
    border: 5px solid red;
    border-top: 5px solid yellow;
    border-radius: 50%;
    animation: putar 1.5s infinite linear;
}
@keyframes putar {
    to { transform: rotate(360deg);}
}